.flexHeader {
  display: flex;
  background-color: black;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 0.1rem solid #bc191a;
  justify-content: space-between;
  @media (max-width: 960px) {
    justify-content: center;
  }
}

.header {
  display: flex;
  font-family: "Open Sans",sans-serif;
  @media (max-width: 960px) {
    display: none;
  }
}

.header > div {
  color: #cacaca;
  padding: 30px;
  font-size: 1.1em;
  letter-spacing: .05em;
  font-weight: bolder;
  text-transform: uppercase;
  @media (max-width: 768px) {
    /* Styles for screens larger than or equal to 768px */
    font-size: 15px;
    padding: 10px;
  }
}

.header > div:hover {
  color: white;
  background-color: rgb(43, 42, 41);
}

.logo {
  width: 150px;
  padding: 20px 40px;
  @media (max-width: 768px) {
    /* Styles for screens larger than or equal to 768px */
    width: 100px;
    padding: 10px 20px;
  }
}